.highlight-wrapper {
	border-radius: 15px;
	padding: 1em;
	background-color: white;
}
.highlight-title {
	color: gray;
	margin: 0;
}
.highlight-value {
	font-size: 2.5em;
	margin: 0.5em;
}
.highlight-value > span {
	font-size: 0.4em;
}
